.navbar {
  margin:auto;
  /* border-bottom: 1px solid #5b5b5ba3; */
  padding: 0 2em;
  display: flex;
  height: 60px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  background-color: rgba(30, 30, 30, 0.8)
}
#navbar-container{
   position: sticky;
   z-index: 10;
   top: 0;

}
.navbar li a {
  text-decoration: none;
  font-size: .95rem;
  color: #bdbdbd;
}

.nav-links li,
.nav-links2 li {
  display: flex;
  justify-content: center;
  padding: 0 0.8em;
  height: 100%;
  align-items: center;
}

.nav-links,
.nav-links2 {
  height: 100%;
  width: 35%;
  display: none;
  box-sizing: border-box;
  list-style: none;
  /* color: #fff; */
  justify-content: space-between;
}

.nav-links2 {
  width: 20%;
}

.navbar h1 {
  font-size: 24px;
  color: #dcf804;
}

.drop-down {
  position: relative;
}

.drop-down-content {
  opacity: 0;
  list-style: none;
  visibility: hidden;
  top: 60px;
  padding: 10px;
  left: 0;
  position: absolute;
  background-color: #151515;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  /* z-index: 1; */
}

.drop-down-content li {
  padding: 15px 35px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

navbar li {
  transition: all 0.3s ease-in-out;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: #0c0c0c;
  transition: all 0.3s ease-in-out;
}

.drop-down:hover .drop-down-content {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.drop-down-content li:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links,
  .nav-links2 {
    display: flex;
    text-align: center;
  }

  .navbar {
    margin: 0 auto;
    padding: 0 3em;
    height: 60px;
  }
  .snippets-section-content {
    width: 30%; 

  }
}

@media (max-width: 1200px) {
  .nav-links2 {
    display: none;
  }

  .nav-links {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .mobile-nav-btn {
    display: none;
    visibility: hidden;
  }
}
.mobile-search{
  border-radius: 50%;
  background: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
/* .mobile-search:hover{transform: scale(1.2);} */
/* .mobile-search:active{transform:scale(.9);} */
.mobile-nav-btn {
  font-family: "Source Sans 3", sans-serif;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  gap:5%;
  background: transparent;
  color: #fff;
  border: 1px solid #353535cc;
  font-size: 1rem;
  border-radius: 30px;
  padding: 6px 10px;
  transition: background 0.3s ease-in-out;
}
.mobile-nav-btn:active{
  transform: translateY(4px);
}
.mobile-nav-btn:hover {
  /* background-color: #dcf804b3; */
  /* color: #090909; */
  /* cursor: pointer; */
  transition: all 0.3s ease-in-out;
}

/* footer */
.footer-links i{
  font-size:20px;
  cursor: pointer;
  color:#dcf804;
}
.footer-links {
  color: #fff;
  display: flex;
  margin: 20px auto;
  text-align: center;
  justify-content: space-evenly;
  align-items:center;
  width: 40%;

}
.footer-bottom{
  text-align: center;
  align-items: center;
}
.footer-bottom p{
  color: #c9c9c9;
  font-size: 12px;
  margin: 5px auto 0 auto;

}
footer{
  padding: .5rem;
  border-top: 1px solid #0c0c0c4f;
}
.footer-content{
  padding: 4rem;
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 10px;
  margin:  auto;
}
.footer-child{
  min-width: 250px;
  margin: 15px auto;
}
.footer-content h2{
  font-weight: 550;
  margin: 0px auto 20px auto;
}
@media (min-width:678px) {
  .footer-content{
    text-align: center;
    display: grid;
    justify-content: center;
    margin: 6rem auto 2rem auto;
    line-height: 1.9em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .footer-links {
    color: #fff;
    display: flex;
    margin: 15px auto;
    text-align: center;
    justify-content: space-between;
    align-items:center;
    width: 20%;
  }
}

/* aside */
.aside-section{
  display:none;
  flex-direction: column;
  gap:15px;
  position:fixed;
  left: 0;
  top: 0;
  padding-top: 1rem;
  padding-inline: 1rem;
  min-width: 200px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #bdbdbd2c;
  background-color: #0c0c0cde;
  backdrop-filter: blur(6px);
}
.aside-section::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
.aside-section a{
  text-decoration: none;
  color: #bdbdbd;
  font-size: 1rem;

}
.aside-section li  h1 {
  font-size: 24px;
  color: #dcf804; 
  margin-bottom: 10px; 
}
.aside-section ul  {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.mobile-drop-down-content {
  display: none !important;
  list-style: none;
  padding: 1rem;
  border-bottom: 1px solid #bdbdbd29;
}
.mobile-drop-down-content li{
  padding: 0.5rem;
  transition: all 0.3 ease-in-out;
}
.mobile-drop-down-content li:hover{
  background-color: #000;
  border-radius: 10px;
}

.drop-down.active .mobile-drop-down-content {
  display: block !important;
}

.ref-syn{
  padding: 0.8rem;
  border-radius: 10px;
}
.ref-syn:hover{
  background-color: #000;
}

