
<body>
  <footer>
     <div class="footer-content" id="footer-content"></div>
     <div class="footer-bottom">
        <div class="footer-links">
          <div><i class="fa-brands fa-github"></i></div>
          <div><i class="fa-brands fa-linkedin-in"></i></div>
          <div><i class="fa-brands fa-discord"></i></div>
          <div><i class="fa-brands fa-x-twitter"></i></div>
        </div>
        <div class="footer-p">
          <h5>ETC TECH COMMUNITY</h5>
          <p>&copy; copyright 2025 <span>CodTax</span></p>
        </div>
     </div>
  </footer>
  <script src="/js/script.js"></script>
</body>